  <div id="menu">
    <%= render 'layouts/navbar' %>
  </div>
  
<div class='basic-grey'>
  <h1>Todas as Receitas</h1>
  
<%= render partial: '/shared/recipe_list_grid', locals: {recipes:  @recipe_all} %>
  
</div>