<!DOCTYPE html> 
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>My Cookbook</title>
  </head>
  <body>
    
  <div id="menu">
    <%= render 'layouts/navbar' %>
  </div> 
 
 <div class="main">
     <header>
      <h1>CookBook</h1> 
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>   
    
    <section class="recipes">
      <div class="container">
        <%= render 'lastest_recipes' %>
      </div>
      
      <div class="container">
        <% render 'most_favorited_recipes' %>
      </div>
    </section>
    
  </div>
  </body>
</html>