 <%= render '/layouts/navbar' %>
   <div class='basic-grey'>
    <header>
      <h1>CookBook</h1> 
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>
    <div class= 'container-fluid'>
    <div class='row'>
      
      <aside class='col-md-4'>
        <h2>Últimas Receitas</h2>
        <%= render partial: '/shared/recipe_list', locals: {recipes:  @index_recipes} %>
      </aside>
      
      <aside class='col-md-4'>
        <h2>Favoritas por Usuários</h2>
        <%= render partial: '/shared/recipe_list', locals: {recipes:  @most_favorited} %>
      </aside>
    </div>
  </div>
</div>

