<!DOCTYPE html> 
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>My Cookbook</title>
  </head>
  <body>
    
   <div id="menu">
    <%= render 'navbar' %>
   </div>  
    
    <div class="sidenav">
      <%= render 'navbar_side' %>
    </div>
 
 <div class="main">
     <header>
      <h1>CookBook</h1> 
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>   
    
    <section class="receitas">
      <div class="container">
        <%= render 'ultimas_receitas' %>
      </div>
      
      <div class="container">
        <%= render 'receitas_favoritas' %>
      </div>
    </section>
    
  </div>
  </body>
</html>