 <%= render '/layouts/navbar' %>
   <div class='basic-grey'>
    <header>
      <h1>CookBook</h1> 
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>
    <div class= 'container-fluid'>
    <div class='row'>
      
      <aside class='col-md-4'>
        <%= render 'home/partials/lastest_recipes' %>
      </aside>
      
      <aside class='col-md-4'>
        <%= render 'home/partials/most_favorited_recipes' %>
      </aside>
    </div>
  </div>
</div>

