  <div id="menu">
    <%= render 'layouts/navbar' %>
  </div> 
 
 <div class="basic-grey">
     <header>
      <h1>CookBook</h1> 
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>   
    
    <section class="recipes">
      <div class="container">
        <%= render 'home/partials/lastest_recipes' %>
      </div>
      
      <div class="container">
        <%= render 'home/partials/most_favorited_recipes' %>
      </div>
    </section>
    
  </div>