  <div id="menu">
    <%= render 'layouts/navbar' %>
  </div> 
 
 <div class="basic-grey">
     <header>
      <h1>CookBook</h1> 
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>   
    
    <section class="recipes">
      <div class="row">
        <div class="container">
          <div class="col-sm-10"><%= render 'home/partials/lastest_recipes' %></div>
          
        </div>
        
        <div class="container">
          <div class="col-sm-10"><%= render 'home/partials/most_favorited_recipes' %></div>
          
        </div>
      </div>
    </section>
    
  </div>