.container-fluid {
  background-color: lightgrey;
}

.col-md-4 {
  background-color: white;
  margin: 50px;
  left: 5%;
}

.col-md-3 {
  background-color: white;
  margin: 40px;
}

.vcenter {
    margin-top: 25px;
    left: -25px;
}

.description-center{

  left: -50px;
}

.method {
  padding-left: 40px;
}

.recipe-details {
  padding: 0px;
}

.glyphicon {
  font-size: 25px;
  color: gold;
}

.options {
  padding-top: 20px
}