<div id="menu">
    <%= render 'layouts/navbar' %>
</div>  

<div class="basic-grey">
  
  <% if flash[:notice] %>
   <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <h1><%="Filtro por Tipo: #{@recipe_type.name}"%></h1>
  
  <% if @recipes.count > 0 %>
        <%= render partial: '/shared/recipe_list_grid', locals: {recipes:  @recipes} %>
  <% else %>
   <p>Nenhuma receita encontrada para este tipo de receitas</p>
  <% end %>
</div>




